<div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
       Bus Tour Booking Confirmation
    </h2>
</div>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Plese Confirm Registraton</h5>
   </div>
   <div class="modal-body">
    <%= form_for [@booking, @booking_user]  do |f| %>
      <!-- <%= @booking.id %>
      <%= @booking.name %>
      <%= @booking.price %>

      <%= @booking.address %>

        <%= @booking.country %> -->

        <ul class="table_format guest_two font_properties ">



              <li class="font_properties ">&nbsp &nbsp Booking Name: <%=  @booking.name %></li>
              <li class="font_properties "> &nbsp &nbsp  Price: <%=  @booking.price  %> </li>
              <li class="font_properties"> &nbsp &nbsp Address: <%=  @booking.address  %> </li>
              <li class="font_properties "> &nbsp &nbsp  State: <%=  @booking.state %> </li>
              <li class="font_properties "> &nbsp &nbsp Country: <%=  @booking.country %> </li>
              <li class="font_properties "> &nbsp &nbsp  Phone: <%= @booking.phone %> </li>
                <li class="font_properties "> &nbsp &nbsp Email: <%= @booking.email %> </li>
                <br>&nbsp

                  &nbsp

             <br>

         </ul>
         <div class="form-group">
           <%= link_to "Cancel", userhome_index_path, :class => 'navbar-link table_text float-left'  %>
         </div>
    <div class="modal-footer">
        <%= f.submit "Confirm !!", class:" btn  btn-success btn--animated" %>
    </div>
    <% end %>
  </div>
  </div>
 </div>
</div>

<!-- <%= form_for [@booking, @booking_user]  do |f| %>

  <%= f.submit 'Registrar' %>
<% end %> -->
