<% if admin_signed_in? %>
   Logged in as <strong><%= current_admin.email %></strong>
   <%= link_to "Admin Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
   <%= link_to "Admin Login", new_admin_session_path, :class => 'navbar-link'  %>
<% end %>

<div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
        Booking Information
    </h2>
</div>


<section id="action" class="row justify-content-md-left ">
 <div class="container-fluid">
   <div class="col-3">
    <%= link_to new_booking_path,  class:"btn btn-success btn-block btn-color" do %>
     <i class="fa fa-plus text-left"></i> Create Booking
    <% end %>
   </div>
 </div>
</section>


<!-- <section id="posts">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-12">
    <div class="card">
     <div class="card-header">
      <h4>Cohort Lists</h4>
     </div>
     <table class="table table-hover table_text">
      <thead>
       <tr>
         <th>#</th>
         <th>Booking Name</th>
         <th>Price</th>
         <th>Address</th>
         <th>State</th>
         <th>Country</th>
         <th>Phone</th>
         <th>Email</th>
         <th></th>
         <th></th>
         <th></th>
        </tr>
       </thead>
       <tbody>
         <% @bookings.each_with_index do |booking, index| %>

         <tr class="parent-tr">
           <td scope="row"><%= index+1 %></td>
           <td>  <%=  booking.name %></td>
           <td>  <%=  booking.price  %></td>
           <td>  <%=  booking.address  %></td>
           <td>  <%=  booking.state %></td>
           <td>  <%=  booking.country %></td>
            <td> <%= booking.phone %></td>
            <td> <%= booking.email %></td>
           <td>
           <%= link_to booking_path(booking), class: "btn btn-success btn-block" do %>
           <h6><i class="fa fa-info"  aria-hidden="true"></i> Show </h6>
           <% end %>
           </td>
           <td>
              <%= link_to edit_booking_path(booking), class: "btn  btn-success btn-secondary" do %>
              <h6>  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit </h6>
              <% end %>
            </td>
            <td>
              <%= link_to booking, method: :delete,  class: "btn btn-success btn-secondary" do %>
              <h6>  <i class="fa fa-trash-o" aria-hidden="true"></i> Delete </h6>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
     </div>
   </div>
 </div> -->




 <div class="row justify-content-md-center fluid ">
 	 <div class="col-2">

 	 </div>

 	  <div class="col-8">



   <% @bookings.each_with_index do |booking, index| %>

              <%  if index % 3 == 0 %>

                <div id= counter class="parent-tr font_properties">


                  <ul class="table_format guest_two font_properties ">



                        <li class="font_properties ">&nbsp &nbsp Booking Name: <%=  booking.name %></li>
                        <li class="font_properties "> &nbsp &nbsp  Price: <%=  booking.price  %> </li>
                        <li class="font_properties"> &nbsp &nbsp Address: <%=  booking.address  %> </li>
                        <li class="font_properties "> &nbsp &nbsp  State: <%=  booking.state %> </li>
                        <li class="font_properties "> &nbsp &nbsp Country: <%=  booking.country %> </li>
                        <li class="font_properties "> &nbsp &nbsp  Phone: <%= booking.phone %> </li>
                          <li class="font_properties "> &nbsp &nbsp Email: <%= booking.email %> </li>
                          <br>&nbsp

                         <%= link_to 'Edit', edit_booking_path(booking),
                         class: " btn btn--white btn--animated  float-left" %>
                          <%= link_to 'Delete', booking, method: :delete, class: "  btn btn--white btn--animated   float-right" %>
                            &nbsp
<!--
                        <%= link_to 'Delete', booking, method: :delete,
                                      class:'font_properties delete-todo btn float-right' %> -->
                       <br>

                   </ul>
                </div>
              <% end %>
              <%  if index % 3 == 1 %>

                <div id= counter class="parent-tr font_properties">


                  <ul class="table_format guest_one font_properties ">



                        <li class="font_properties ">&nbsp &nbsp Booking Name: <%=  booking.name %></li>
                        <li class="font_properties "> &nbsp &nbsp  Price: <%=  booking.price  %> </li>
                        <li class="font_properties"> &nbsp &nbsp Address: <%=  booking.address  %> </li>
                        <li class="font_properties "> &nbsp &nbsp  State: <%=  booking.state %> </li>
                        <li class="font_properties "> &nbsp &nbsp Country: <%=  booking.country %> </li>
                        <li class="font_properties "> &nbsp &nbsp  Phone: <%= booking.phone %> </li>
                          <li class="font_properties "> &nbsp &nbsp Email: <%= booking.email %> </li>
                          <br>&nbsp

                         <%= link_to 'Edit', edit_booking_path(booking),
                         class: " btn btn--white btn--animated  float-left" %>
                          <%= link_to 'Delete', booking, method: :delete, class: "  btn btn--white btn--animated   float-right" %>
                            &nbsp
<!--
                        <%= link_to 'Delete', booking, method: :delete,
                                      class:'font_properties delete-todo btn float-right' %> -->
                       <br>

                   </ul>
                </div>
              <% end %>
              <%  if index % 3 == 2 %>

                <div id= counter class="parent-tr font_properties">


                  <ul class="table_format guest_three font_properties ">



                        <li class="font_properties ">&nbsp &nbsp Booking Name: <%=  booking.name %></li>
                        <li class="font_properties "> &nbsp &nbsp  Price: <%=  booking.price  %> </li>
                        <li class="font_properties"> &nbsp &nbsp Address: <%=  booking.address  %> </li>
                        <li class="font_properties "> &nbsp &nbsp  State: <%=  booking.state %> </li>
                        <li class="font_properties "> &nbsp &nbsp Country: <%=  booking.country %> </li>
                        <li class="font_properties "> &nbsp &nbsp  Phone: <%= booking.phone %> </li>
                          <li class="font_properties "> &nbsp &nbsp Email: <%= booking.email %> </li>
                          <br>&nbsp

                         <%= link_to 'Edit', edit_booking_path(booking),
                         class: " btn btn--white btn--animated  float-left" %>
                          <%= link_to 'Delete', booking, method: :delete, class: "  btn btn--white btn--animated   float-right" %>
                            &nbsp
<!--
                        <%= link_to 'Delete', booking, method: :delete,
                                      class:'font_properties delete-todo btn float-right' %> -->
                       <br>

                   </ul>
                </div>
              <% end %>
    <% end %>
  </div>
      <div class="col-2">
      </div>



   </div>
