<h1> Show Booking HTML </h1>

<%= @booking_show.name  %>
<br>
<%= @booking_show.price  %>
<br>
<%= @booking_show.address  %>
<br>
<%= @booking_show.phone  %>
<br>
<%= @booking_show.email  %>
<br>
<%= @booking_show.country  %>
<br>
