<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

  <title>RailsBooking</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>

 <body class="<%= controller_name %> <%= action_name %>">
  <%= custom_bootstrap_flash %>
  <div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
    </label>
    <div class="navigation__background">&nbsp;</div>
     <nav class="navigation__nav">
          <ul class="navigation__list">
              <% if user_signed_in? %>


                  <li class="navigation__item "> <%= link_to "User Logout", destroy_user_session_path, method: :delete, class:" navigation__item navigation__link"  %>
                   </li>

              <% end %>

              <% if admin_signed_in? %>

                   <li class="navigation__item "> <%= link_to "Admin Logout", destroy_admin_session_path, method: :delete, class:" navigation__item navigation__link"  %>
                     </li>
              <% end %>




          </ul>
        </nav>
      </div>


    <header class="header">

      <div class="header__text-box">
        <h1 class="heading-primary">

        </h1>

      </div>
    </header>



    <!-- <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %> -->




    <%= yield %>
  </body>
</html>
